<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bekijk probleem </title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: 'Helvetica', sans-serif;
            background: linear-gradient(180deg, #0e90a7 0%, #ffc0c2 100%);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: white;
        }

        #dashboardContainer {
            width: 90%;
            max-width: 1200px;
            margin-top: 5vh;
            background: #121212;
            border-radius: 20px;
            padding: 20px;
            box-sizing: border-box;
            color: #333;
        }

        #dashboardHeader {
            text-align: center;
            font-size: 7vw;
            font-weight: 600;
            color: #0e90a7;
            margin-bottom: 5vh;
        }

        .section {
            margin-bottom: 5vh;
        }

        .section h2 {
            font-size: 5vw;
            color: #ffc0c2;
            margin-bottom: 2vh;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 0.5vh;
            font-weight: bold;
        }

        input {
            padding: 1vh;
            margin-bottom: 1vh;
            border-radius: 5px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            font-size: 1rem;
        }

        .btn {
            padding: 1vh 2vw;
            border-radius: 5px;
            color: white;
            text-align: center;
            cursor: pointer;
            margin: 0.5vh 0;
            display: inline-block;
            text-decoration: none;
            font-size: 1rem;
        }

        .btn-submit {
            background-color: #34c759;
        }

        .btn-back {
            background-color: #007bff;
            display: inline-block;
            margin-right: 1vw;
        }

        @media (min-width: 768px) {
            #dashboardHeader {
                font-size: 36px;
            }

            .section h2 {
                font-size: 24px;
            }

            .btn,
            input {
                font-size: 17px;
            }
        }
    </style>
</head>

<body>
    <div id="dashboardContainer">
        <div id="dashboardHeader">Bekijk dit probleem</div>

        <div class="section">
            <h2>Bekijk</h2>

            <label for="name">Wat:</label>
            <p><%= room.name %></p>
            <label for="name">Wie:</label>
            <p><%= problem.name %></p>

            <label for="serialNumber">Beschrijving:</label>
            <p><%= problem.description %></p>

            <label for="manufacturer">Fabrikant:</label>
            <p><%= room.manufacturer %></p>

            <label for="contactNumber">ContactNummer:</label>
            <p><%= room.contactNumber %></p>
            <input type="text" id="id" name="id" value="<%= problem.id %>" style="display: none;">
            <div>
            <img loading="lazy" src="<%= problem.publicimageLink %>" alt="The image with the problem">
            </div>
            <a href="/dashboard" class="btn btn-back">Terug naar Dashboard</a>
        </div>
        <div>
        </div>
    </div>
</body>

</html>